<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding:10pt">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">DS - DevTest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Authors")">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Books")">Books</a>
                </li>
            </ul>
        </div>
    </nav>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Ocorreu um erro ao processar a solicitação.</h2>
    </hgroup>
</body>
</html>
